# Dossiers fichiers généré par la compilation.
obj/
ali/
bin/
lib/
doc/
tags

# Fichier généré par pretty print.
*.pp

# Fichier temporaire de gnat.
.\#*\#

# Autres fichiers hors du projet
makefile.conf
